{% load static %}

<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{% static 'styleAb.css' %}" />
<html>

<head>
    <title> S T E L L A R </title>
</head>

<body>
    <nav class="nav nav-masthead justify-content-center">
        <img src="{% static 'klogo2.png' %}" alt="KTechNetSky" width="90" height="100">
        <a class="nav-link active" href="/Stellar"> Home</a>
        <h1 align='center' style='font-size:370%;' class="cover-heading">S T E L L A R </h1>

        <div class="box"></div> <strong>STELLAR</strong> is a music recommendation platform powered by <strong>KTechNets
            ©,</strong><br>a
        wide-purpose software
        system for
        analyzing
        deep connections between musical artists, <br> in terms of historical influence, sonic similarity, and much more
        .


</body>

</html>