{% load static %}

<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{% static 'styleb.css' %}" />
<html>

<head>
    <title>S T E L L A R</title>
</head>

<body class="text-center">
    <nav class="nav nav-masthead justify-content-center">
        <img src="{% static 'klogo2.png' %}" alt="KTechNetSky" width="=80" height="80"></br>
        <a class="nav-link active" href="/Stellar">Home</a>
        <a class="/about" href="/Stellar/about">About Us</a><br>
        <h1 style='font-size = 370%;'> S T E L L A R </h1>
        <nav class="nav nav-masthead justify-content-center">
            <h2> <strong> Which artist? </strong></h2>

            <form id="query_form" method="POST" action="result/">

                {% csrf_token %}

                {{ form.as_p }}

                <button class="btn-secondary" type="submit">Get recommendation path!</button>
            </form>
</body>

</html>