{% load static %}



<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="{% static 'styleb.css' %}" />
<html>

<head>
    <title> S T E L L A R by KTechNets </title>
</head>


<body class="text-center">


    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead-mb-auto">

            <div class="inner">


                <nav class="nav nav-masthead justify-content-center">
                    <img src="{% static 'klogo2.png' %}" alt="KTechNetSky" width="90" height="100"></br>
                    <a align='right' class="nav-link active" href="about/">About Us</a>
                    <nav class="nav nav-masthead justify-content-center"></nav>

                    <main role="main" class="inner cover">

                        <h1 align='center' style='font-size:370%;' class="cover-heading">S T E L L A R </h1>
                        <h4 align='right' style='font-size:110%;' class="cover-heading"> powered by KTechNets ©</h4>


                        <br><br>
                        <p align='center' style='font-size:180%'>Welcome to STELLAR </br></br>
                        </p> </br>
                        <p align='center' style='font-size:150%' class="lead">Start gliding through constellations of
                            music.</br></br>

                        </p> </br>
                        <p class="lead">
                        <div style="text-align:center">
                            <a href="add_query/" style='font-size:160%' class="btn btn-lg btn-secondary">Let's go!</a>
                        </div>

</body>



</html>