beautifulsoup4==4.6.0
daytime==0.4
dj-database-url==0.5.0
Django==2.0.1
gitdb2==2.0.3
GitPython==2.1.8
gunicorn==19.7.1
lxml==4.1.1
nltk==3.2.5
numpy==1.14.1
numpydoc==0.6.0
pandas==0.22.0
pandocfilters==1.4.1
pipenv==8.2.7
psycopg2==2.7.4
python-dateutil==2.6.1
requests==2.18.4
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.8.2
whitenoise==3.3.1