{% load static %}

<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{% static 'hawk_tracker/style2.css' %}" />
<html>
    <head>
        <title>H A W K W A T C H E R S</title>
    </head>

    <body>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/hawk_tracker">Home</a>
            <a class="/about" href="#">About Us</a>
        <h1> H A W K W A T C H E R S </h1>
        <h1><strong> About Us </strong></h1>
        <p> Everyone wants to know what will happen to <strong>interest rates</strong>, even if it's for very different reasons: finance people (duh!), buying a car, a house, or paying off that extra round of online shopping on your <strong>credit</strong> card.  </br></br>
        And yes, interest rates seem to change for VERY random reasons. But maybe it's not always THAT random. For instance, the <strong>central bank</strong> (a.k.a The Fed) changes baseline interest rates every one or two months. When the Fed changes the interest rates, banks change theirs in tandem (yes, your bank, too!). </br></br> Good thing is, when they set the interest rate, the Fed people let us know what they're thinking before hand - and we think there might be significance to the specific <strong>words</strong> they use. </br></br>
        Our <strong>prediction</strong> models seem to think so, too! We used machine learning models to analyze and make predictions using the Fed's press releases. The two models we use specifically are decision trees, a predictive modeling approach, and neural networks, which are algorithms that mimic the way your <strong>brain </strong> actually learns. </br></br>
        So give it a try! Input the latest press release from the U.S. Federal Reserve and look into our <strong>interest rate crystal ball</strong>. . . 
         </p></br>

    
    </body>
</html>