{% load static %}

<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{% static 'hawk_tracker/style2.css' %}" />
<html>
    <head>
        <title>H A W K W A T C H E R S</title>
    </head>

    <body>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/hawk_tracker">Home</a>
            <a class="/about" href="#">About Us</a>
        <h1> H A W K W A T C H E R S </h1>
        <h1><strong> About Us </strong></h1>
        <p> Everyone wants to know what will happen to interest rates, even if it's for very different reasons: finance people (duh!), buying a car, a house, or paying off that extra round of online shopping on your credit card.  </br></br>
        And yes, interest rates seem to change for VERY random reasons. But maybe it's not always THAT random. For instance, the central bank (a.k.a The Fed) changes baseline interest rates every one or two months. And they let us know what they're thinking before hand - and we think there might be significance to the specific words they use. </br></br>
        Our prediction models seem to think so, too! We used machine learning models to analyze and make predictions using the Fed's press releases. The two models we used specifically are decision trees, a predictive modeling approach, and neural networks, which are algorithims that mimic the way your brain learns. </br></br>
        So give it a try! Input the latest press release from the U.S. Federal Reserve and look into our interest rate crystal ball. . . 
         </p></br>

    
    </body>
</html>