{% load static %}

<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{% static 'hawk_tracker/style.css' %}" />
<html>
    <head>
        <title>Hawkwatchers</title>
    </head>

    <body>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/haw_tracker/index">Home</a>
            <a class="/about" href="about/">About Us</a>
        <h1> Add a Monetary Policy Statement...</h1>
        <strong> Please enter a statement you would like Hawkwatchers to analyze below  </strong></br>

        <form id="query_form" method="POST" action="result/">

            {% csrf_token %}

            {{form}}

            <button type="submit">Find out what Hawkwatchers thinks about this!</button>
        </form>
    </body>
</html>

