{% load static %}



<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{% static 'hawk_tracker/style2.css' %}" />
<html>

    <head>
        <title> H A W K W A T C H E R S </title>
    </head>


<body class = "text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead-mb-auto">
            <div class="inner">
                
                    <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="/index">Home</a>
                    <a class="/about" href="about/">About Us</a>

    <main role="main" class="inner cover">
        <h1 align = 'center' style ='font-size:270%;'class="cover-heading">H A W K W A T C H E R S</h1>
        <p align = 'center' style ='font-size:130%' class="lead">Welcome to HawkWatchers!</br></br>
         According to the lastest Federal Reserve's monetary policy statement, are interest rates more likely to go <span style="color:rgb(255, 70, 41)" style='font-size:130%' > up </span> or <span style="color: rgb(60, 179, 113)"> down </span> ? </p> </br> 
        <p class="lead">
            <div style="text-align:center"> 
            <a  href="add_query/"  class="btn btn-lg btn-secondary" >Let's find out!</a>
        </div>

    </body>

{% if latest_statement_list %}
    <ul> </br>
    
    {% for st in latest_statement_list %}
    <p>
        <strong> Most recent Fed statement: January, 31, 2018 </strong></br>
        <ul TYPE="square">
        <li ><a href="{% url 'hawk_tracker:detail' st.id %}">{{ st.statement_header }}</a></li></br> <!--MISSING: LINK TO THE WHOLE TEXT-->
        </ul>
        <strong>{{ st.statement_next }}<strong>
        
         
    {% endfor %}

    </ul>

{% else %}
    No statements are available.
{% endif %}

</html>

