
title {
	color: white; font-family:arial}

a {
	color: rgb(220, 220, 220); font-family:arial; font-style:italic;font-size: 110%
}

li a {
    font-family:arial;color:rgb(60, 179, 113); font-size: 100%
}

ul { TYPE="square";
  padding-right: 10px;
}

body {
    background: rgb(40, 40, 40); color: rgb(240, 240, 240); font-family:arial;
    font-size: 110%;
    border: 1px solid white;
    padding: 30px;
}

h1 {
	color: rgb(220, 220, 220); font-family:arial; font-size: 180%;
}



link {
	color: rgb(220, 220, 220); font-family:arial; font-size: 100%;
}

p {   font-family:arial; font-size: 100% ; border: 1px solid white;
    padding: 20px;}

img {
    width: 120px;
    height: 120px;
    position: absolute;
    right: 16px;
    top: 20px;
}